<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" >
    <title>Accueil - EPFBook</title>
    <link href="home.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/">Accueil</a>
            </div>
            <img src="/pictures/EPF_Logo.png" alt="LogoEF" class="LogoEPF">
            <div>
                <a href="/register">Inscription</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="accueil">
            <div>
                <h1>Le <strong>réseau social</strong> des peufiens - EPF Book</h1>
            </div>

        </section>
        
        <section class="Communaute">
            <h2><a href="/students" class="cta">Les élèves de l'EPF Book</a></h2>
            <img src="/pictures/social.png" alt="social" class="social">
        </section>
    </main>
</body>

</html>
