<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>EPFBook - Accueil</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur EPFBook</h1>
        <p>EPFBook est un réseau social destiné aux étudiants de l'EPF.</p>
        <p>Connectez-vous pour découvrir et partager des informations avec vos camarades !</p>
        <a href="/login">Se connecter</a> | <a href="/register">S'inscrire</a>
        <p><a href="/students">Ils nous ont déjà rejoint!</a></p>
    </div>
</body>
</html>