<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Register - EPFBook</title>
    <link href="register.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <img src="/pictures/EPF_Logo.jpg" alt="LogoEF" class="LogoEPF">
            <div>
                <a href="/">Accueil</a>
                <a href="/register">Inscrire un étudiant</a>
                <a href="/a-propos">À propos</a>
            </div>
        </nav>
    </header>
    <h1>Inscription d'un nouvel étudiant</h1>
    <form id="registrationForm" class="registrationForm">
        <label for="name">Nom:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="school">École:</label><br>
        <input type="text" id="school" name="school" required><br><br>
        <button type="submit">S'inscrire</button>
    </form>

    <script>
        document.getElementById('registrationForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const name = document.getElementById('name').value;
            const school = document.getElementById('school').value;
            try {
                const response = await fetch('/api/students/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, school })
                });
                if (!response.ok) {
                    throw new Error('Erreur lors de l\'inscription');
                }
                alert('Inscription réussie !');
                window.location.href = '/';
            } catch (error) {
                console.error('Erreur:', error.message);
                alert('Erreur lors de l\'inscription');
            }
        });
    </script>
    <footer>
        <div>
            <a target="_blank" href="https://www.instagram.com/epfengineeringschool" class="lien-icone">
                <img src="/pictures/instagram.png"  >
            </a>
        </div>
    </footer>
    <script type="text/javascript">
        (function(d, t) {
            var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
            v.onload = function() {
              window.voiceflow.chat.load({
                verify: { projectID: '6566608d18b33e0007c8c464' },
                url: 'https://general-runtime.voiceflow.com',
                versionID: 'production'
              });
            }
            v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
        })(document, 'script');
      </script>
</body>

</html>
