<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Register - EPFBook</title>
    <link href="register.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/">Accueil</a>
            </div>
            <img src="/pictures/EPF_Logo.png" alt="LogoEF" class="LogoEPF">
            <div>
                <a href="/register">Inscription</a>
            </div>
        </nav>
    </header>
    <h1>Inscription d'un nouvel étudiant</h1>
    <form id="registrationForm" class="registrationForm">
        <label for="name">Nom:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="school">Nom de l'école:</label><br>
        <input type="text" id="school" name="school" required><br><br>
        <button type="submit">S'inscrire</button>
    </form>

    <script>
        document.getElementById('registrationForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const name = document.getElementById('name').value;
            const school = document.getElementById('school').value;
            try {
                const response = await fetch('/api/students/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, school })
                });
                if (!response.ok) {
                    throw new Error('Erreur lors de l\'inscription');
                }
                alert('Inscription réussie !');
                window.location.href = '/';
            } catch (error) {
                console.error('Erreur:', error.message);
                alert('Erreur lors de l\'inscription');
            }
        });
    </script>
    <img src="/pictures/inscription.png" alt="inscription" class="inscription">
</body>

</html>
