<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/students.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Liste des étudiants</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="/">Accueil</a>
            </div>
            <img src="/pictures/EPF_Logo.png" alt="LogoEF" class="LogoEPF">
            <div>
                <a href="/register">Inscription</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Membres</h1>
        <ul>
            <% students.forEach(function(student, index) { %>
                <li><strong>Nom:</strong> <%= student.index1 %><br><strong>École:</strong> <%= student.index2 %><br><a href="/students/<%= index %>">Détail / édition</a></li>
            <% }) %>
            
        </ul>
    </div>
</body>
</html>