<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/students-id.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Détails</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/">Accueil</a>
            </div>
            <img src="/pictures/EPF_Logo.png" class="LogoEPF">
            <div>
                <a href="/register">Inscription</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Détails</h1>
        <div class="student-details">
            <p><strong>ID :</strong> <%= student.id %></p>
            <p><strong>Nom :</strong> <%= student.name %></p>
            <p><strong>École :</strong> <%= student.school %></p>
            <form action="/students/<%= student.id %>/update" method="POST" onsubmit="window.location.replace('/students');"> 
                <label for="name">Nouveau nom :</label>
                <input type="text" id="name" name="name" required>
                <label for="school">Nouvelle école :</label>
                <input type="text" id="school" name="school" required>
                <input type="submit" value="Valider">
            </form>
        </div>
        <img src="/pictures/details.png" class="details">
    </div>
</body>
</html>