* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  background: linear-gradient(to bottom, #E30B17, #46276E);
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

header,
footer {
    background-color: #fff;
    color: black;
    padding: 20px 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #8a7f7f;
}

main {
  padding: 50px;
}

.accueil-introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.accueil-introduction p {
  margin-bottom: 60px; /* Augmentez la valeur pour ajouter plus d'espace */
}

.accueil-introduction div {
  flex: 1;
}

h1 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 20px;
}

p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.cta1 {
  background-color: #46276E;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1em;
}

.cta1:hover {
  background-color: #8a7f7f;
}

.Communaute {
  text-align: center;
  margin-bottom: 50px;
}

.Communaute h2 {
  font-size: 2em;
}

.Communaute a {
  background-color: #46276E;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1em;
}

.Communaute a:hover {
  background-color: #8a7f7f;
}

.section-contact {
  margin-bottom: 50px;
}

.section-contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.form-nom-emaail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-column {
  width: 48%;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #46276E;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1em;
}

input[type="submit"]:hover {
  background-color: #8a7f7f;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  background-color: white;
}

.lien-icone:hover {
  opacity: 0.7;
}

.LogoEPF {
  width: 100px;
  height: auto;
}

.reseau img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
