* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background: linear-gradient(to bottom left, rgb(230, 230, 250), rgb(70, 39, 110));
  color: rgb(255, 255, 255);
}

header,
footer {
    background-color: rgb(230, 230, 250);
    color: rgb(255, 0, 0);
    padding: 40px 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: 50px;
}
  .cta1 {
    background-color: #46276E;
    color: rgb(255, 0, 0);
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1em;
  }

  label {
    font-weight: bold;
  }
  
  input[type="submit"] {
    background-color: rgb(70, 39, 110);
    color: rgb(255, 0, 0);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    background-color: rgb(230, 230, 250);
  }
  
  .lien-icone:hover {
    opacity: 0.7;
  }
  
  .LogoEPF {
    width: 100px;
    height: auto;
  }
  
  .details {
    width: 300px;
    height: auto;
  }

.close {
    color: rgb(255, 0, 0);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
